* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}


h1 {
    text-align: center;
}

main {
    display: flex;
}

#book {
    background-color: white;
    padding: 25px 60px;
}

.input-book {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.display-library {
    background-color: gray;
    flex: 1;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    grid-template-rows: repeat(3, 1fr);
}


    .added-book {
        background-color: beige;
    }